extends resultatrapportering
block pagecontent
        div.lokal= vasa
            div#vasa
        div.lokal= masthug
            div#masthug
        div.lokal= gardsten
            div#gardsten
        div.lokal= kortedala
            div#kortedala
